Package: clone-git-pkgs
Version: 1.0.5
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Section: myown
Depends: git
Priority: optional
Description: This script clones a list of packages from github into their respective directories with correct names and correct remotes, name.rem
